[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-watch = "*"
rope = "*"
pylint = "*"
autopep8 = "*"

[packages]
opencv-python = "*"
plotly = "*"
retrying = "*"
requests = "*"

[requires]
python_version = "3.7"
